div {
    color: white;
}

li {
    padding-bottom: 12px;
}

body {
    background-color: black;
    color: white;
}

.msg {
    font-size: 4em;
    width: 100%;
    text-align: center;
    margin-top: 25%;
}

.help {
    font-size: 1em;
    position: absolute;
    bottom: 10px;
    left: 25%;
    width: 50%;
}