<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
    <script src="{% static 'js/clock.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/generic.css' %}">
</head>
<body onload="clock()">
    <div style="position: absolute; right: 100px; top: 50px;">
        {% block img %}
                <img src="{% static 'icon/weather-ico.png' %}" width="64px" height="64px" align="center">
        {% endblock %} 
        {% for info in weather %}
            <h1>{{ info.temp }}C</h1>
            <p>of {{ info.city }}</p>
        {% endfor %}
        <p id="time"></p>
    </div>
    {% block body%}{% endblock %}
    <div class="msg help">
        <p>What can I say?</p>
    </div>
</body>
</html>