<html>
<head>
    <title>Help</title>
    {% load staticfiles %}
    <script src="{% static 'js/clock.js' %}"></script>
    <script src="{% static 'js/jQuery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/generic.css' %}">
    <script>
        $(function() {

        });
    </script>
    <style>
        .anim {
            animation-name: ex;
            animation-delay: 2s;
        }

        @keyframes ex {
            from {top: 200%; opacity: 1}
            to {top: auto; opacity: 0}
        }
    </style>
</head>

<body onload="clock()">

    <div style="align-content: right; margin-left: 85%">
        <img src="{% static 'icon/weather-ico.png' %}" width="64px" height="64px" align="center">
        {% for info in object_list %}
            <h1>{{ info.temp }}C</h1>
            <p>of {{ info.city }}</p>
        {% endfor %}
    </div>

    <div id="time" style="font-size: 4em; text-align: center;"></div>

    <div class="msg greet">
        <p>Hey, There!!</p>
    </div>

    <div style="margin-left: 25%; margin-top: 10%" id="help">
        <h4>Notification</h4>
        <p style="margin-left: 2%;">- Shows the News and Weather information.</p>

        <h4>Help</h4>
        <p style="margin-left: 2%;">- Shows the Help menu.</p>

        <h4>Map</h4>
        <p style="margin-left: 2%;">- Shows the Map.</p>
    </div>
</body>
</html>