{% extends 'base.html' %}
{% block title %}Help{% endblock %}
{% block body %}
    <div id="time" class="msg"></div>
    <div class="msg greet">
        <p>Hey, There!!</p>
    </div>
    <div style="margin-left: 25%; margin-top: 5%" id="help">
        <h4>Notification</h4>
        <p style="margin-left: 2%;">- Shows the News and Weather information.</p>

        <h4>Help</h4>
        <p style="margin-left: 2%;">- Shows the Help menu.</p>

        <h4>Map</h4>
        <p style="margin-left: 2%;">- Shows the Map.</p>
    </div>
{% endblock %}